:root {

  /* ==========================================
     COLORS
  ========================================== */

  --background: #090A0C;
  --background-secondary: #090A0C;

  --surface: #141414;
  --surface-hover: #1B1B1B;

  --border: #2B2B2B;


  /* ==========================================
     PRIMARY / LIGHT
  ========================================== */

  --primary: #D9DCE1;

  --primary-hover: #FFFFFF;

  --white: #FFFFFF;

  --gray: #AEB3BA;

  --text: #FFFFFF;

  --text-secondary: #AEB3BA;


  /* ==========================================
     STATUS
  ========================================== */

  --success: #4CAF50;

  --danger: #EF4444;


  /* ==========================================
     TYPOGRAPHY
  ========================================== */

  --font-title:
    Calibri,
    "Segoe UI",
    Arial,
    sans-serif;

  --font-body:
    Calibri,
    "Segoe UI",
    Arial,
    sans-serif;


  /* ==========================================
     LAYOUT
  ========================================== */

  --container: 1280px;

  --section-padding: 120px;

  --navbar-height: 100px;


  /* ==========================================
     BORDER RADIUS
  ========================================== */

  --radius-sm: 12px;

  --radius-md: 18px;

  --radius-lg: 28px;


  /* ==========================================
     SHADOWS
  ========================================== */

  --shadow-sm:
    0 10px 25px rgba(0, 0, 0, .22);

  --shadow-md:
    0 25px 50px rgba(0, 0, 0, .35);

  --shadow-lg:
    0 40px 80px rgba(0, 0, 0, .50);


  /* ==========================================
     GLASS
  ========================================== */

  --blur: 20px;

  --glass:
    rgba(255, 255, 255, .035);

  --glass-border:
    rgba(255, 255, 255, .09);

  --glass-hover:
    rgba(255, 255, 255, .075);


  /* ==========================================
     TRANSITIONS
  ========================================== */

  --transition: .35s ease;


  /* ==========================================
     HERO
  ========================================== */

  --hero-title: 72px;

  --hero-subtitle: 18px;

}